/* .background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  
}

.background-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpaperset.com/w/full/7/7/1/359274.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}

.transparent-form {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.background-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpaperset.com/w/full/7/7/1/359274.jpg'); /* Adjust the path as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}

.transparent-form {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: rgba(7, 1, 1, 0.7); /* Transparent white background */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
